<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>New Piece of Jewelry Form</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>New Piece of Jewelry Form</h1>
    <form th:action="@{/pieceOfJewelry/new/}" method="post" th:object="${formPieceOfJewelry}">
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active" th:each="imageUrl : *{design.getImageUrls()}">
                    <img src="imageUrl" class="d-block w-100" alt="picture of an item">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <table>
            <tr class="d-grid gap-3">
                <input type="hidden" th:field="*{design}" th:value="masterDesign">
                <td>Size</td>
                <td>
                    <div class="form-check" th:each ="size : ${sizes}">
                        <input class="form-check-input" type="radio" name="${size}" id="radioDefault1" th:field="*{finalSize}" th:value="${size}">
                        <label class="form-check-label" for="radioDefault1" th:text ="${size}"></label>
                    </div>
                </td>
            </tr>
            <tr class="d-grid gap-3">
                <td>Metal</td>
                <td>
                    <div class="form-check" th:each ="metal : ${metals}">
                        <input class="form-check-input" type="radio" name="${metal}" id="radioDefault2" th:field="*{finalMetal}" th:value="${metal}">
                        <label class="form-check-label" for="radioDefault2" th:text ="${metal}"></label>
                    </div>
                </td>
            </tr>
            <tr class="d-grid gap-3">
                <td>Stone</td>
                <td>
                    <div class="form-check" th:each="stone : ${stones}">
                        <input class="form-check-input" type="radio" name="${stone}" id="radioDefault3" th:field="*{finalStone}" th:value= "${stone}">
                        <label class="form-check-label" for="radioDefault3" th:text="${stone}"></label>
                    </div>
                </td>
            </tr>
        </table>


        <input type="submit" value="Buy Piece of Jewelry" />

    </form>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>