<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title>New Design Form</title>
</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container">
    <h1>New Design Form</h1>
    <form th:action="@{/design/new}" method="post" th:object="${formDesign}">

        <table>
            <tr>
                <td>Naam</td>
                <td><input type="text" th:field="*{naam}"></td>
            </tr>
            <tr>
                <td>Beschrijving</td>
                <td><input type="text" th:field="*{beschrijving}"></td>
            </tr>
            <tr>
                <td>Designer</td>
                <td>
                    <select th:field="*{designers}" multiple>
                        <option th:each ="designer : ${allDesigners}"
                                th:text ="${designer.name}"
                                th:value="${designer.designerId}">
                        </option>
                    </select>
                </td>
            </tr>
        </table>

        <input type="submit" value="Save Design" />

    </form>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>